fastapi==0.110.0
uvicorn==0.27.1

pydantic==2.6.4
python-jose==3.3.0
python-dotenv==1.0.1
python-multipart==0.0.9

requests==2.31.0
jinja2==3.1.3

numpy<2.0
pandas
scikit-learn
scipy
typing-extensions
